
.container {

    background: #bcb4c6;
    margin: 0 auto;
}
body{

          padding-top: 35px;
          padding-bottom: 40px;
}
.nav a {
    color: blue;
    text-decoration: none;
    padding: 7px 25px;
    display: inline-block;
}
.container2{
			text-align:center;

		}
.fixed-header{

      top: 0;
      background-color: #f1f1f1;
      position: fixed;
      z-index: 1;
      width: 100%;
      }
.fixed-footer{

            width: 100%;

            background-color: #f1f1f1;

            bottom: 0;

            position: fixed;
}
.bor{
     border: 1px solid Teal;
}
.div1 {

    margin-left: 20px;
    margin-right: 50px;

}
.div2{

    margin-left: 25px;
    margin-right: 50px;
    margin-bottom: 25px;
}
.section:after {
    content: "";
    display: table;
    clear: both;
}
.header {
    background-color: #f1f1f1;
    padding: 5px;
    text-align: left;
    font-size: 30px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 5px;
    height: auto; /* Should be removed. Only for demonstration */
}

/* Left and right column */
.column.side {
    width: 20%;
}

/* Middle column */
.column.middle {
    width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}