{% extends "Python.html" %}
{% block content1 %}

     <h1 style="text-align:center; color: DodgerBlue;">Hello World</h1>
     <h4 class="div1">
         <pre style="text-align:left;"> <i><code style="color:black;">{{ insert_me }}</code></i>
         </pre>
     </h4>
     <h2 style="text-align:center; color:DodgerBlue;">Result</h2>
     <h4 class="div2">
         <pre style="text-align:left;"> <i><code style="color:black;">
             #helloworld.py result
             Please enter Helloworld! : Hello World!
             Hello World!
         </code></i>
         </pre>
     </h4>
{% endblock %}
