<nav>
     <ul>
         <li>
             <a href="{% url 'helloworld' %}" class="dropbtn">Hello World</a>
         </li>
         <li>
             <a href="{% url 'sum' %}" class="dropbtn">Sum Of Two Numbers</a>
         </li>
         <li>
             <div class="w3-dropdown-hover">
                 <button class="dropbtn"><span>Even Numbers</span></button>
                 <div class="w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'evennumbers' %}" class="w3-bar-item">Even Numbers with in Given Range</a>
                     <a href="#" class="w3-bar-item w3-button">Link 2</a>
                 </div>
             </div>
         </li>
          <li>
             <div class="w3-dropdown-hover">
                 <button class="dropbtn"><span>OddNumber</span></button>
                 <div class="w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'odd' %}" class="w3-bar-item">OddNumber</a>
                     <a href="#" class="w3-bar-item w3-button">Link 2</a>
                 </div>
             </div>
         </li>
         <li>
             <div class="w3-dropdown-hover">
                 <button class="dropbtn"><span>Addition Of Matrix</span></button>
                 <div class="w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'additionofmatrix' %}" class="w3-bar-item">Addition Of Matrix</a>
                     <a href="#" class="w3-bar-item w3-button">Link 2</a>
                 </div>
             </div>
         </li>
         <li>
             <div class="w3-dropdown-hover">
                 <button class="dropbtn"><span>PrimeNumber</span></button>
                 <div class="w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'prime' %}" class="w3-bar-item">PrimeNumber</a>
                     <a href="#" class="w3-bar-item w3-button">Link 2</a>
                 </div>
             </div>
         </li>
     </ul>
</nav>
