
 <nav>
     <ul>
         <li>
             <div class="w3-dropdown-hover">
                 <a>Hello World</a>
                 <div class="w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'helloworld' %}" class="w3-bar-item">Hello World</a>
                     <a href="{% url 'helloworld1' %}" class="w3-bar-item">Hello World1</a>
                     <a href="{% url 'helloworld2' %}" class="w3-bar-item">Hello World2</a>
                     <a href="{% url 'helloworld3' %}" class="w3-bar-item">Hello World3</a>
                 </div>
             </div>
         </li>
         <li>
             <div class="w3-dropdown-hover">
                 <a>Sum Of Numbers</a>
                 <div class="w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'sum' %}" class="w3-bar-item ">Sum Of Two Numbers</a>
                     <a href="#" class="w3-bar-item w3-button">Link 2</a>
                 </div>
             </div>
         </li>
         <li>
             <div class="w3-dropdown-hover">
                 <a>Even Numbers</a>
                 <div class="w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'evennumbers' %}" class="w3-bar-item">Even Numbers with in Given Range</a>
                     <a href="#" class="w3-bar-item w3-button">Link 2</a>
                 </div>
             </div>
         </li>
          <li>
             <div class="w3-dropdown-hover">
                 <a>OddNumber</a>
                 <div class="w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'odd' %}" class="w3-bar-item">OddNumber</a>
                     <a href="#" class="w3-bar-item w3-button">Link 2</a>
                 </div>
             </div>
         </li>
         <li>
             <div class="w3-dropdown-hover">
                 <a>Addition Of Matrix</a>
                 <div class="w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'additionofmatrix' %}" class="w3-bar-item">Addition Of Matrix</a>
                     <a href="#" class="w3-bar-item w3-button">Link 2</a>
                 </div>
             </div>
         </li>
         <li>
             <div class="w3-dropdown-hover">
                 <a>PrimeNumber</a>
                 <div class="w3-dropdown-content w3-bar-block w3-border">
                     <a href="{% url 'prime' %}" class="w3-bar-item">PrimeNumber</a>
                     <a href="#" class="w3-bar-item w3-button">Link 2</a>
                 </div>
             </div>
         </li>
     </ul>
 </nav>
