<nav>
     <ul>
         <li>
             <a href="{% url 'helloworld' %}" class="dropbtn">Hello World</a>
         </li>
         <li>
             <a href="{% url 'sum' %}" class="dropbtn">Sum Of Two Numbers</a>
         </li>
         <li>
             <a href="{% url 'evennumbers' %}" class="dropbtn">Even Numbers</a>
         </li>
          <li>
              <a href="{% url 'odd' %}" class="dropbtn">OddNumber</a>
         </li>
         <li>
             <a href="{% url 'prime' %}" class="dropbtn">PrimeNumber</a>
         </li>
         <li>
             <a href="{% url 'additionofmatrix' %}" class="dropbtn">Addition Of Matrix</a>
         </li>
         <li>
             <a href="{% url 'feb' %}" class="dropbtn"> Fibonacci Series</a>
         </li>
     </ul>
</nav>
