{% extends "base.html" %}
{% block content %}
<div class="header">
    <a class="fa fa-home" href="{% url 'python' %}"></a>
    <h2 style="color:MediumSeaGreen">Python Odd Numbers Examples</h2>
</div>
<div class="row">
    <div class="column side" style="background-color:#aaa;">
       <ul>
           <li><a href="{% url 'odd1' %}" class="w3-bar-item">odd1</a></li>
           <li><a href="{% url 'odd2' %}" class="w3-bar-item">odd2</a></li>
           <li><a href="{% url 'odd3' %}" class="w3-bar-item">odd3</a></li>
           <li><a href="{% url 'odd4' %}" class="w3-bar-item">odd4</a></li>

     </ul>
  </div>
  <div class="column middle" style="background-color:#bbb;">
            {% block  content2 %}

            {% endblock %}
  </div>
    <div class="column side" style="background-color:#ccc;">Addsence</div>
</div>
{% endblock %}
