{% extends "base.html" %}
{% block content %}
<div class="header">
  <h2 style="color:MediumSeaGreen">Python Prime Numbers Examples</h2>
</div>
<div class="row">
    <div class="column side" style="background-color:#aaa;">
       <ul>
           <li><a href="{% url 'prime1' %}" class="w3-bar-item">prime1</a></li>
           <li><a href="{% url 'prime2' %}" class="w3-bar-item">prime2</a></li>
           <li><a href="{% url 'prime3' %}" class="w3-bar-item">prime3</a></li>
     </ul>
  </div>
  <div class="column middle" style="background-color:#bbb;">
            {% block  content2 %}

            {% endblock %}
  </div>
    <div class="column side" style="background-color:#ccc;">Addsence</div>
</div>
{% endblock %}
