{% extends "base.html" %}
{% block content %}

 </div>

 <div>
     <h1 style="text-align:center;">Even Numbers with in given range</h1>
     <h4 class="div1">
         <pre style="text-align:left;"> <i><code style="color:black;">{{ insert_me }}</code></i>
         </pre>
     </h4>
 </div>
 <div>
     <h2 style="text-align:center;">Result</h2>
     <h4 class="div2">
         <pre style="text-align:left;"> <i><code style="color:black;">
             #Even Numbers with in given range
             Enter your starting range : 10
             Enter your ending range : 20
             Even numbers: 10 12 14 16 18 20
             Total number of Even numbers between 10 to 20 is 6
         </code></i>
         </pre>
     </h4>

 </div>

{% endblock %}