{% extends "Python.html" %}
{% block content1 %}
     <h1 style="text-align:center; color: DodgerBlue;">Even Numbers with in given range</h1>
     <h4 class="div1">
         <pre style="text-align:left;"> <i><code style="color:black;">{{ insert_me }}</code></i>
         </pre>
     </h4>
     <h2 style="text-align:center; color: DodgerBlue;">Result</h2>
     <h4 class="div2">
         <pre style="text-align:left;"> <i><code style="color:black;">
             #Even Numbers with in given range
             Please enter starting range Positive and other than Zero : 0
             Please enter starting range Positive and other than Zero : 1
             Please enter ending range more than starting range : 20
             Even numbers: 2 4 6 8 10 12 14 16 18 20
             Total number of Even numbers between 1 to 20 is 10
         </code></i>
         </pre>
     </h4>
{% endblock %}