{% extends "base.html" %}
{% block content %}

 </div>

 <div>
     <h2>Python:</h2>
     <h1 style="text-align:center;">Add Of Matrices</h1>
     <h4 class="div1">
         <pre style="text-align:left;"> <i><code style="color:black;">{{ insert_me }}</code></i>
         </pre>
     </h4>

 </div>
 <div>
     <h2 style="text-align:center;">Result</h2>
     <h4 class="div2">
         <pre style="text-align:left;"> <i><code style="color:black;">
             #Adition of matrics result
             [17, 15, 4]
             [10, 12, 9]
             [11, 13, 18]
         </code></i>
         </pre>
     </h4>

 </div>

{% endblock %}