{% extends "python.html" %}
{% block content1 %}
     <h1 style="text-align:center; color: DodgerBlue;">Sum Of Numbers</h1>
     <h4 class="div1">
         <pre style="text-align:left;"> <i><code style="color:black;">{{ insert_me }}</code></i>
         </pre>
     </h4>
     <h2 style="text-align:center; color: DodgerBlue;">Result</h2>
     <h4 class="div2">
         <pre style="text-align:left;"> <i><code style="color:black;">
             #sum.py result
             >>Please enter your number for addition : 1
               Please enter your 2nd number for addition : 3
               Addition of two values is :  4
         </code></i>
         </pre>
     </h4>
{% endblock %}