{% extends "primelist.html" %}
{% block content2 %}

     <h1 style="text-align:center; color: Navy;">PrimeNumbers</h1>
     <h4 class="div1">
         <pre style="text-align:left;"> <i><code style="color:black;">{{ insert_me }}</code></i>
         </pre>
     </h4>
     <h2 style="text-align:center; color:Navy;">Result</h2>
     <h4 class="div2">
         <pre style="text-align:left;"> <i><code style="color:black;">
             #Prime.py result
             Please enter the range Up to get PrimeNumbers : 40
             Prime Numbers are : 2 3 5 7 11 13 17 19 23 29 31 37
         </code></i>
         </pre>
     </h4>
{% endblock %}
